.container {
  min-height: 100vh;
  padding: 0px 0px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#C2C2CB;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main h1{
  top:0;
  margin-top: 0;
  position:fixed;
  height: 100px;
  text-align:center;
  padding:10px 0px;
  background-color:#000000;
  width: 100%;
  font-size:40px;
  color:#0A8791;
}

.main ul{
  list-style:none;
  background-color:#7F8C8D;
  padding:0px 0px;
  height: 60vh;
  border-radius:40px;
  align-items: center;
}
.main li{
  display:outside;
  color:#ffffff;
  padding:0px 0px;
  height: 10vh;
  text-align-last: auto;
  font-size:18px;
  align-items: center;
}
.main c{
  align-items: center;
  color:rgb(255, 255, 255);
  text-align: center;
  font-size:20px;
}

.main a{
  padding:0px 30px;
}
  
.main b {
   display:inline-block;
   padding:10px 30px;
}
.main rodape{
  bottom:0;
  position:fixed;
  height: 40px;
  text-align:center;
  padding:0px 0px;
  background-color:#FBA83C;
  width: 100%;
  font-size:16px
}
 
  
  
 

